*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div#collapsibleNavId {
    justify-content: flex-end;
}

header {
    background: rgb(64,65,60);
}

main{
    padding-left: 13%;
    padding-right: 13%;
}