
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLamDE.cshtml";
}

<div style="text-align:center;">

    <h1 style="color:blue;">LÀM ĐỀ THI</h1>
    <h2>Thí sinh: Hoàng Minh Đại</h2>
    <h2>Mã Thí sinh:01</h2>
    <br />
    <h1><a style="color:red;" href="@Url.Action("Index","LamDeThi",new { id=1})"> Bắt đầu làm</a></h1>

</div>


