
@{
    ViewBag.Title = "GoiDeUI";
    Layout = "~/Views/Shared/_LayoutLamDE.cshtml";
}

<h2>GoiDeUI</h2>
<div>
    <h1>Giáo Viên: Hoàng Minh Đại</h1>
    <h1>Mã GV:1</h1>
    <h1><a style="color:red;" href="@Url.Action("ThemCauHoiUI","CauHoi",new { id=1})"> Thêm Câu Hỏi</a></h1>
</div>
